NODE_ENV=production
PORT=10000
MONGODB_URI=mongodb+srv://jaimodi05bapa_db_user:SgKNnsz19WTuvHp3@cluster.nckewmo.mongodb.net/?appName=Cluster
JWT_SECRET=south-water-park-production-secret-2024-secure
CLIENT_URL=https://endearing-kleicha-b78d8e.netlify.app
TZ=UTC
